body {
  font-family: sans-serif;
  letter-spacing: 1px;
}

p {
  font-size: 20px;
}

#heading_text {
  padding-top: 200px;
  font-size: 50px;
  font-size: bold;
}

#home_header {
  padding-top: 50px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.home_wave_start {
  margin-top: -50px;
  z-index: 0;
}

#home_heading_img {
  padding-top: 30px;
  position: relative;
  z-index: 1;
  height: auto;
  margin-bottom: 130px;
}

.home_wave_content {
  background-color: #12d8fa;
  color: #fff;
}

#heading_home_wave {
  font-size: 50px;
  font-size: bold;
  margin-top: -70px;
}

#heading_home_features {
  font-size: 50px;
  font-size: bold;
  margin-bottom: 30px;
}

.home_features {
  margin-top: -200px;
  margin-bottom: 50px;
}

.footer {
  background-color: #f0f0f0;
  border-top: 2px solid #023047;
  padding-top: 50px;
}

.footer_logo {
  font-size: 48px;
  color: #1fa2ff;
  font-family: Karla;
}
